.main__footer {
	position: relative;
	display: block;
	height: 100px;
	width: 100%;
	background-color: @bodyBg;
	background-image: url(../img/PathGreen.png);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 80px;
}