.main__header {
    height: 51px;
    width: 100vw;

    background-color: #76c7c0;

    position: fixed;
}

.header__logo {
    padding-left: 10px;
}


@media screen and (min-width: 728px) {

    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: url(../img/Path.png);
        background-repeat: repeat-x;
        background-position: bottom;
    }

    .header__nav {
        width: 770px;
    }

    .header__nav-btn {
        display: flex;
        justify-content: space-between;
    }

}