/*.fotorama {
    height: 500px;
}*/


.fotorama {
    background-color: @bg-darkgrey;
}

.text-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    /*top: 0;*/
    left: 0;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

