/* LESS Document */
.clearfix{
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}


/*.container{
  margin: 0 auto;
  min-width: 990px;
  max-width: 1226px;
}*/

* {
  box-sizing: border-box;
}
 
 /*.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }*/


@media screen and (min-width: 1070px) {
/*  .right__container {
    display: none;
}*/
  
/*  .left__container {
  margin-right: 250px;
}
*/

}